


.la-shell-main{
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 8px;
  right: 0;
  background-color: #eee;
}





.la-shell-main-status{
  position: absolute;
  top: 0;
  left: 8px;
  right: 8px;
  height: 40px;
}

.la-shell-main-status ul{
  list-style-type: none;
}

.la-shell-main-status ul li{
  display: block;
  float: left;
  width: 240px;
  font-size: 16px;
  line-height: 40px;
  color: black;
  text-align: center;
}





.la-shell-main-game{
  position: absolute;
  top: 40px;
  left: 8px;
  width: 322px;
  height: 400px;
}

.la-shell-main-game-preview{
  position: absolute;
  top: 0;
  left: 0;
  width: 322px;
  height: 322px;
  background-color: white;
  border: 1px solid black;
}

.la-shell-main-game-title{
  position: absolute;
  top: 322px;
  left: 0;
  width: 100%;
  height: 20px;
}

.la-shell-main-game-title p{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.la-shell-main-game-control{
  position: absolute;
  top: 342px;
  left: 0;
  width: 100%;
  height: 60px;
}

.la-shell-main-game-control-play{
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 28px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.la-shell-main-game-control-stop{
  position: absolute;
  left: 40px;
  top: 0;
  width: 28px;
  height: 28px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.la-shell-main-game-control-save{
  position: absolute;
  left: 80px;
  top: 0;
  width: 120px;
  height: 28px;
  color: white;
  background-color: #09c;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.la-shell-main-game-control-update{
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
  height: 28px;
  color: white;
  background-color: #f90;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}





.la-shell-main-roadmap{
  position: absolute;
  top: 430px;
  left: 8px;
  width: 322px;
  bottom: 0;
  border: 1px solid black;
  background-color: blue;
}

.la-shell-main-roadmap-level{
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: white;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.la-shell-main-roadmap-level-header{
  position: absolute;
  width: 100%;
  height: 20px;
  border-bottom: 1px solid black;
  background-color: white;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}





.la-shell-main-code{
  top: 40px;
  left: 340px;
  right: 200px;
  bottom: 0;
  border: 1px solid black;
  background-color: white;
}

.la-shell-main-code-inner{
  width: 100%;
  height: 100%;
}





.la-shell-main-logs{
  position: absolute;
  top: 40px;
  width: 182px;
  bottom: 0;
  right: 8px;
}

.la-shell-main-logs ul{
  width: 100%;
  height: 100%;
  list-style: none;
}

.la-shell-main-logs ul li{
  position: relative;
}

.la-shell-main-logs-log{
  position: absolute;
  width: 182px;
  height: 182px;
}

.la-shell-main-logs-log-detail{
  position: absolute;
  top: 0;
  left: 0;
  width: 182px;
  height: 142px;
  border: 1px solid black;
  background-color: white;
}

.la-shell-main-logs-log-date{
  position: absolute;
  top: 142px;
  left: 0;
  width: 182px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}
