
.la-shell-head, .la-shell-head-logo, .la-shell-head-tab, .la-shell-head-options,
.la-shell-main, .la-shell-main-status, .la-shell-main-game, .la-shell-main-roadmap, .la-shell-main-code, .la-shell-main-logs,
.la-shell-foot, .la-shell-chat, .la-shell-modal
{
  position: absolute;
}

.la-shell-head{
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #444;
}

.la-shell-head-logo{
  top: 0;
  left: 0;
  width: 320px;
  bottom: 0;
  background: orange;
}

.la-shell-head-tab{
  top: 0;
  left: 320px;
  width: 500px;
  bottom: 0;
}

.la-shell-head-options{
  top: 0;
  right: 0;
  width: 200px;
  bottom: 0;
}

.la-shell-main{
  top: 40px;
  left: 0;
  bottom: 20px;
  right: 0;
  background-color: #eee;
}

.la-shell-main-status{
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.la-shell-main-game{
  top: 40px;
  left: 0;
  width: 320px;
  height: 380px;
  background-color: cyan;
}

.la-shell-main-roadmap{
  top: 420px;
  left: 0;
  width: 320px;
  bottom: 0;
  background-color: blue;
}

.la-shell-main-code{
  top: 40px;
  left: 320px;
  right: 200px;
  bottom: 0;
  background-color: white;
}

.la-shell-main-logs{
  top: 50px;
  width: 200px;
  bottom: 0;
  right: 0;
}

.la-shell-foot{
  height: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}

.la-shell-chat{
  bottom: 0;
  right: 0;
  width: 300px;
  height: 15px;
  border-radius: 5px 0 0 0;
  background: red;
  z-index: 1;
  cursor: pointer;
}

.la-shell-chat:hover{
  background-color: #a00;
}

.la-shell-modal{
  margin-top: -200px;
  margin-left: -200px;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  background: yellow;
  border-radius: 3px;
  z-index: 2;
}
