
.la-shell-head, .la-shell-head-logo, .la-shell-head-tab, .la-shell-head-options,
.la-shell-main, .la-shell-main-status, .la-shell-main-game, .la-shell-main-roadmap, .la-shell-main-code, .la-shell-main-logs,
.la-shell-foot, .la-shell-modal
{
  position: absolute;
}

.la-shell-head{
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #000000;
}

.la-shell-head-logo{
  top: 3px;
  left: 0;
  bottom: 0;
}

.la-shell-head-logo img{
  top: 0;
  left: 0;
  width: auto;
  height: 40px;
  margin-left: 40px;
  bottom: 0;
}



.la-shell-head-tab{
  top: 0;
  left: 240px;
  right: 200px;
  bottom: 0;
}

.la-shell-head-tab ul{
  list-style-type: none;
}

.la-shell-head-tab ul li{
  display: block;
  float: left;
  width: 150px;
  font-size: 12px;
  line-height: 40px;
  color: white;
  text-align: center;
}

.la-shell-head-options{
  top: 0;
  right: 40px;
  width: 200px;
  bottom: 0;
  
}

.la-shell-head-options ul{
  list-style-type: none;
}

.la-shell-head-options ul li{
  display: block;
  float: left;
  height: 30px;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 32px;
  line-height: 40px;
  color: white;
  text-align: center;
  
}

.la-shell-head-options ul li img{
  float: left;
  width: auto;
  height: 30px;
}

.la-shell-foot{
  height: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}

.la-shell-modal{
  display: none;
  margin-top: -200px;
  margin-left: -200px;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  background: yellow;
  border-radius: 3px;
  z-index: 2;
}
